HTML
  //link(rel='stylesheet', href='/card.css')
  head
    title= title
  body
    H1 EL PRODUCTO
    .titulo
      DIV EL PRODUCTO
    .container
      .card
        .imgholder   
          img(src=img)
        h1= id
        h1= title
        h1= price
       
    
 
    
